@import '../../mixins';
.form {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  &__box {
    &:last-child {
      margin: 0 auto;
    }
    &__btn {
      margin-bottom: 1.25rem;
    }
    &__input {
      @include basic-font400;
      margin: 1rem 0 1rem 0;
      line-height: 1.5em;
      border-radius: 0, 25rem;
      border: solid 1px #eeeeee;
      padding: 0.25rem 0.375rem;
      display: block;
      width: 100%;
      box-sizing: border-box;
    }
  }
}
