@import '../../mixins';

.card {
  &__container {
    border: 1px solid black;
    border-radius: 0.3125rem;
    margin: 0.3125rem;
    width: 100%;
    @include for-tablet {
      width: 47%;
    }
    @include for-desktop {
      width: 30%;
    }
  }
  &__star {
    width: 40px;
    height: 40px;
    margin-bottom: 0px;
    border-style: none;
    background-color: unset;
    outline: none;
  }
  &__title {
    @include basic-font700;
    font-size: 1.1em;
    padding: 0.5rem 0 0.5rem 0;
    @include for-tablet {
      font-size: 1.3em;
    }
    @include for-desktop {
      font-size: 1.5em;
    }
    &__text {
      @include basic-font400;
      font-size: 1em;
      padding: 0.7rem 0 1rem 0;
      @include for-tablet {
        font-size: 0.8em;
      }
      @include for-desktop {
        font-size: 1em;
      }
    }
  }

  &__text {
    @include basic-font400;
    text-align: justify;
    font-size: 1em;
    padding: 0.7rem 0 1rem 0;

    @include for-tablet {
      font-size: 0.8em;
    }
    @include for-desktop {
      font-size: 1em;
    }
  }

  &__img {
    width: 100%;
  }

  &__body {
    padding: 0.625rem;
  }
  &__buttons {
    @include flex(space-around, center, row);
    margin-bottom: 1.25rem;
  }
}
